<!DOCTYPE html>
<html>
  <head>
    <title>Image Downloader</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/javascripts/imgDownloader.js"></script>
  </head>
  <body>
    <h2>Image Downloader</h2>
    <input type="text" placeholder="Enter URL" value="ttp://www.yahoo.com" autofocus/>
  </body>
</html>
